/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --highlight-tertiary: pink;
  --highlight-quartary: rebeccapurple;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
  &:hover, &:focus {
    color: var(--primary);
    border-color: var(--primary);
  }
}


/* UI Event Classes */

/* Horizontal slide in */

a:nth-of-type(1) {
  background-color:var(--highlight-tertiary);
  color:white;
}

.dblclick {
  animation-name:dblclick;
  animation-duration: 2s;
}

@keyframes dblclick {
  from {
    translate: 100vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

/* spin2win button */
a:nth-of-type(3) {
  background-color: var(--highlight-quartary);
  transition:1s;
}

.spin{
  scale:0.8;
  transform:rotateZ(360deg);
}

.spin2{
  scale:1.20;
  transform:rotateZ(-360deg);
}

/* flicker button */
a:nth-of-type(5) {
 background-color:rgb(26, 26, 26);
}

a:nth-of-type(5):hover {
  background-color: black;
}

.flicker{
  animation-name: flicker;
  animation-duration:0.3s;
  animation-iteration-count: 5;
}

@keyframes flicker {
  from {
    background-color: white;
  }
  to {
   background-color:black;
  }
}

/* expand button  */
 a:nth-of-type(7) {
  background-color:rgb(58, 0, 38);
  /* z-index:1; */ 
 }  

 a:nth-of-type(7):hover {
  background-color: hotpink;
}

 .expand {
  animation-name:expand;
  animation-timing-function:ease-out;
  animation-duration:3s;
  animation-iteration-count: 1;
  position:relative;
}

@keyframes expand {
  0% {
    transform:scale(1);
  }
  80% {
   transform:scale(5) rotate(10deg);
   background-color: hotpink;
  }
  100%{
  }
}

/* glow button */
a:nth-of-type(9) {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
}


.bounce-glow {
  animation: bounceGlow 2s ease-in-out;
}

@keyframes bounceGlow {
  0%, 100% {
    transform: scale(1);
    bbox-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
  }
  50% {
    font-size:1.1em;
    transform: scale(1.2);
    box-shadow: 0 0 30px rgba(0, 128, 255, 1);
  }
}

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties */
